extends: default.liquid
---
<div>
  {% for post in posts limit:10 %}
    <div>
      <section>
        <span class="c-post-list__date">{{post.date | date: "%Y-%m-%d"}}</span>
        <span class="c-post-list__title"><a href="{{post.path}}">{{ post.title }}</a></span>
      </section>
    </div>
  {% endfor %}
</div>
